<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route Sahaayak</title>
    <link rel="stylesheet" href="home.css">

    <script src="user.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <div class="nav">
        <div class="nav1">
            <div class="logo">
            </div>
            <h1>Route Sahayak</h1>
        </div>
    </div>

    <div class="main">
        <div class="wrapper">
            <div class="form-box register">
                <form action="#">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="location-outline"></ion-icon></span>
                        <input type="text" required>
                        <label>Source</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="location-outline"></ion-icon></span>
                        <input type="text" required>
                        <label>Destination</label>
                    </div>
                    <button type="submit" class="btn">Submit</button>
                </form>
            </div>
        </div>
    </div>


</body>

</html>